body{
	background-color: black;
}
#atrybuth1{
	color: blue;
	font-family: arial;
}
h2{
	color: white;
	font-family: arial;
}
p{
	color: white;
	font-family: arial;
}
h1.one{
	color: white;
	font-family: arial;
}